# Core
streamlit
numpy
pillow
joblib

# Deep Learning
torch
torchvision

# Image Processing
opencv-python-headless
pytesseract

# Machine Learning
scikit-learn

# Extra utilities
gdown
streamlit-cropper
